<%- include("navbar.ejs") %>


<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table">
            <thead>
                <tr>
                <th>Sr No</th>
                <th>Job Title</th>
                <th>Job Type</th>
                <th>Posted Date</th>
                <th>Status</th>
                <th>Applications</th>
                <th>Action</th>
                
                </tr>
            </thead>
            <tbody>
                 <% for(i=0; i < result.length;i++){ %>
                     <tr>
                        <td><%- i+1 %></td>
                        <td><%- result[i].job_title %></td>
                        <td><%- result[i].job_type %></td>
                        <td><%- new Date(result[i].created_at).toISOString().split("T")[0]  %></td>
                        <td><span class="badge <%- result[i].status=='Inactive'?'bg-warning':(result[i].status=='Closed'?'bg-danger':'bg-success') %>"><%- result[i].status %></span></td>
                        <td> <a href="/company/applications/<%- result[i].job_id %>"><%- result[i].applications_count %> Applications</a></td>
                         <td>  <a href="/company/inactive/<%- result[i].job_id %>" class="text-warning">Pause</a> | <a href="/company/closed/<%- result[i].job_id %>" class="text-danger">Close</a>
                            
                         </td>
                     </tr> 
                     

                    <% } %>
            </tbody>
            </table>
        </div>
    </div>
</div>

<%- include("footer.ejs") %>;
